@media screen and (max-width: 1050px){    
    #searcharea {
		display:none !important;
	}
}
@media screen and (max-width: 800px){    
	#accounts{
		display:none !important;
	}
	
}

.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  padding: 1px;
  padding-right: 30px;
  width: auto;
}

.container{
	width: 95%;
}

.navbar-inverse .navbar-nav > li > a {
    color: #ffffff;
}

.navbar-form{
  padding-top: 15px;
  padding-bottom: 15px;
}

.navbar-inverse {
    background-color: #F1B63E;
    border-color: #022a50;
}

.ownnavbar .navbar-brand {
  height: 80px;
}

.ownnavbar .nav >li >a:hover{
    background-color: #B98316;
    border-color: #022a50;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus{
    background-color: #5C4B2A;
    border-color: #022a50;
}
.ownnavbar{
    min-width: 345px;
}
.ownnavbar .nav >li >a {
  padding-top: 30px;
  padding-bottom: 30px;
}
.ownnavbar .navbar-toggle {
  padding: 10px;
  margin: 25px 15px 25px 0;
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #5C4B2A;
    color: #ffffff;
}