html{
	margin-right: 1px;
}
#imagen-central{
	border-right: auto;
}
.ajuste{
	margin-top: -20px;
}
.rectangulo{
	border-top-width: 3px;
	border-top-style: solid;
	width: 1354px;
	height: 100px;
	background: #F8F8F8;
}
.home-banner {
	margin-top: 0px;
	margin-bottom: 0px;
	overflow-y: hidden;
	padding: 0px;
	height: 425px;
	position: relative;
}
.banner-text {
	position: absolute;
	z-index: 100;
	background-color: transparent;
	width: 100%;
	color: #FFF;
	text-align: center;
	text-shadow: 1px 0px 1px #444, 0px 1px 1px #444, 2px 1px 1px #444, 1px 2px 1px #444, 3px 2px 1px #444, 2px 3px 1px #444, 4px 3px 1px #444, 3px 4px 1px #444;
}
.banner-bottom {
	min-height: 65px;
	margin: 0px 0px 20px;
	border-bottom: 1px solid #BBB;
	padding: 6px;
	background-color: #F8F8F8;
}
.banner-footer {
	min-height: 65px;
	margin: 0px 0px -10px;
	border-top: 1px solid #BBB;
	padding: 6px;
	background-image: url('https://i.gyazo.com/9eb1014def1157f9ca4c41396a3d831d.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 1700px,200px;
	/*background-color: #F8F8F8;*/
}
#movemenow{
	margin-left: 20px;
}
.banner-footer p{
	font-size: 13px;
}
.pull-left{
	float: left;
}
.pull-right{
	float: right;
}
#color_nav{
	color: green;
}
#test{
	border-width: 2px;
	border-color: red;
	border: 2px 2px 2px 2px;
	border-style: solid;
}
footer{
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	background-color: #F8F8F8;
	color: black;
	height: 80px;
	padding-top: 15px;
	padding-bottom: 15px;
}
#tamano-boton{
	margin-top: 250px;
	width: auto;
	height: auto;
	font-size: 30px;
}
#agrandar{
	width: auto;
	height: auto;
}
#achicar{
	width: 20px;
	height: 50px;
}
/*.navbar-brand
{
position: absolute;
width: 100%;
left: 0;
text-align: center;
margin: auto;
}*/
.moviright{
	margin-right: 20px;
}
.movileft{
	margin-left: 20px;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
	width: 100%;
	margin: auto;
}
.alignright{
	margin-right: 170px;
}
.alignleft{
	margin-left: 170px;
}
.carousel-control.right {
	left: auto;
	right: 0px;
	background-image: linear-gradient(to right, transparent 0px, rgba(0, 0, 0, 0.5) 100%);
	background-repeat: repeat-x;
}
.carousel-control {
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	width: 15%;
	opacity: 0.5;
	font-size: 20px;
	color: #FFF;
	text-align: center;
	text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.6);
}
.carousel-control.left {
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0px, transparent 100%);
	background-repeat: repeat-x;
}
#ajusteimg{
	width: 50px;
	height: 50px;
	margin-top: 200px;
	background-color: #fffff;
}
#icon{
	margin-right: 5px;
	width: 30px;
	height: 30px;
}
#footer {
	clear: both;
	position: relative;
	z-index: 10;
	height: 3em;
	margin-top: -5em;
}
.containerX {
	margin-right: auto;
	margin-left: auto;
}
#footer_socials{
 width: 32px; 
 height: 32px;
}