.modern-form{
	font: 95% Arial, Helvetica, sans-serif;
	max-width: 400px;
	margin: 10px auto;
	padding: 16px;
	background: #F7F7F7;
}
.modern-form h1{
	background: #F88218;
	padding: 20px 0;
	font-size: 140%;
	font-weight: 300;
	text-align: center;
	color: #fff;
	margin: -16px -16px 16px -16px;
}
.modern-form input[type="text"],
.modern-form input[type="date"],
.modern-form input[type="datetime"],
.modern-form input[type="email"],
.modern-form input[type="number"],
.modern-form input[type="search"],
.modern-form input[type="password"],
.modern-form input[type="url"],
.modern-form input[type="button"],
.modern-form textarea,
.modern-form select{
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	background: #fff;
	margin-bottom: 4%;
	border: 1px solid #ccc;
	padding: 3%;
	color: #555;
	font: 95% Arial, Helvetica, sans-serif;
}
.modern-form input[type="text"]:focus,
.modern-form input[type="date"]:focus,
.modern-form input[type="datetime"]:focus,
.modern-form input[type="email"]:focus,
.modern-form input[type="number"]:focus,
.modern-form input[type="search"]:focus,
.modern-form input[type="time"]:focus,
.modern-form input[type="url"]:focus,
.modern-form input[type="password"]:focus,
.modern-form input[type="button"]:focus,
.modern-form textarea:focus,
.modern-form select:focus{
	box-shadow: 0 0 5px #F0AF80;
	padding: 3%;
	border: 1px solid #F0AF80;
}

.modern-form input[type="submit"],
.modern-form input[type="button"]{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	padding: 3%;
	background: #F88218;
	border-bottom: 2px solid #EF5914;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;   
	color: #fff;
}
.modern-form input[type="submit"]:hover,
.modern-form input[type="button"]:hover{
	background: #F88218B3;
}