.error, .info{
	border: 1px solid;
	margin: 10px 0px;
	padding:15px 10px 15px 50px;
	background-repeat: no-repeat;
	background-position: 10px center;
	margin-left: 15em;
	margin-right: 15em;
}
.error {
	color: #D8000C;
	background-color: #FFBABA;
	background-image: url('error.png');
	background-size: 5%;
}
.info {
	color: #00529B;
	background-color: #BDE5F8;
	background-image: url('info.png');
}