<!--  ( Home / Forum / Store / Servers / Support ) -->
<table style="width:100%">
	<tr>
		<td>
			<nav class="navbar navbar-inverse" style="margin-bottom: 0px; margin-left:-2px; margin-right:-2px;">
				<div class="container-fluid">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="http://goonights.cl/"><img src="img/logo.png" style="margin-top: -10px;"></a>
					</div>

					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav navbar-left movileft">
							<li><a href="http://goodnights.cl/"><img src="http://i.imgur.com/MHprJip.png" id="icon">Home</a></li>
							<li><a href="#"><img src="http://i.imgur.com/UyQgdVU.png" id="icon" width="30px;" height="30px;">Forum</a></li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img id="icon" src="http://i.imgur.com/Ujxv5DX.png">Store <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="#">CounterStrike</a></li>
									<li><a href="#">Garry´s Mod</a></li>
									<li><a href="#">Minecraft</a></li>
								</ul>
							</li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img id="icon" src="http://i.imgur.com/InrRQCw.png">Servers <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="http://goodnights.cl/servidores.php">CounterStrike <font id="color_nav"> ¡New!</font></a></li>
								</ul>
							</li>
							<li><a href="#"><img src="http://i.imgur.com/LsWTFjh.png" id="icon">Support</a></li>
						</ul>
						<<ul class="nav navbar-nav navbar-right moviright">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img id="icon" src="http://i.imgur.com/kQY2pT8.png">Cuenta <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="#">Iniciar Sesion</a></li>
								<li><a href="#">Registrarse</a></li>
							</ul>
						</li>
					</ul>
				</div><!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->
		</nav>
	</td>
</tr>
</table>

<!--<nav class="navbar navbar-inverse" style="margin-bottom: 0px;" role="navigation">
  <div class="navbar-header">
    <button class="navbar-toggle" type="button" data-target=".navbar-collapse" data-toggle="collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>    
  </div>
  <a class="navbar-brand" href="http://goodnights.cl/">GoodNights Network</a>
  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav navbar-left movileft">
      <li><a href="http://goodnights.cl/">Inicio</a></li>
      <li><a href="#">Foro</a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img id="icon" src="http://glaucus.net/assets/img/icons/glyphicons-203-shopping-cart.png">Tienda <span class="caret"></span></a>
        <ul class="dropdown-menu">
        <li><a href="#">#</a></li>
          <li><a href="#">#</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Servidores <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Counter-Strike</a></li>
          <li><a href="#">Garrys Mod</a></li>
          <li><a href="#">Minecraft</a></li>
        </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right moviright">
      <li><a href="#">Soporte</a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Cuenta <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Iniciar Sesion</a></li>
          <li><a href="#">Registrarse</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>-->