* {
	background-image: url('http://i704.photobucket.com/albums/ww47/blanton_85/MyspacePerverseArtSmokeBackground.jpg');
	background-attachment: fixed;
	background-color: black;
	background-size:cover;
	background-position:center-top;
}
.logo-web{
	width: 700px;
	height: auto;
	margin-left: 320px;
}
.division-bottom{
	margin-left: 300px;
	margin-right: 300px;
	margin-top: 30px;
}
.copyrights{
	background-color: rgba(44, 45, 52, 0);
	background: rgba(44, 45, 52, 0);
    color: #5C4D4E;
}
.botones-nav{
	text-align: center;
}
.boton {
    background-color: #008CBA; /* Green */
    border: none;
    color: red;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;
}
.boton1 {
    background-color: white; 
    color: #00BFFF; 
    border: 2px solid #E19912;
}

.boton1:hover {
    background-color: #4CAF50;
    color: white;
}
.boton2 {
    background-color: white; 
    color: #00BFFF; 
    border: 2px solid #E19912;
}

.boton2:hover {
    background-color: #4CAF50;
    color: white;
}
.boton3 {
    background-color: white; 
    color: #00BFFF; 
    border: 2px solid #E19912;
}

.boton3:hover {
    background-color: #4CAF50;
    color: white;
}
.boton4 {
    background-color: white; 
    color: #00BFFF; 
    border: 2px solid #E19912;
}

.boton4:hover {
    background-color: #4CAF50;
    color: white;
}
hr {
	height: 30px;
	border-style: solid;
	border-color: blue;
	border-width: 1px 0 0 0;
	border-radius: 20px;
}
hr:before {
	/* Not really supposed to work, but does */
	display: block; 
	content: ""; 
	height: 30px;
	margin-top: -31px; 
	border-style: solid; 
	border-color: #E19912; 
	border-width: 0 0 1px 0;
	border-radius: 20px; 
}
.arrow_box {
	position: relative;
	background: #544D3B;
	border: 4px solid #ECECEC;
	margin-left: 300px;
	margin-right: 300px;
	margin-bottom: 15px;
	border-radius: 5px;
}
.arrow_box:after, .arrow_box:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(232, 171, 49, 0);
	border-bottom-color: #e8ab31;
	border-width: 15px;
	margin-left: -15px;
}
.arrow_box:before {
	border-color: rgba(194, 225, 245, 0);
	border-bottom-color: #ECECEC;
	border-width: 21px;
	margin-left: -21px;
}
.arrow_down {
	position: relative;
	background: #544D3B;
	border: 4px solid #ECECEC;
	margin-left: 300px;
	margin-right: 300px;
	margin-top: 20px;
	border-radius: 5px;
}
.maintenance-text{
	font-family: Georgia, serif;
	color: #E19912;
}
.wrapper{
	margin: auto;
	margin-bottom: 100px;
    width: 50%;
    border: 0px solid #73AD21;
    padding: auto;
}
.wrapper .table .tr .th, #donator{
	color: white;
	font-size: 24px;
}
.wrapper .table .tr .th, #premium{
	color: yellow;
	font-size: 24px;
}
.wrapper .table .tr .td, #vip-font {
	color: white;
	font-family: Georgia, serif;
	text-align: justify;
}
.wrapper .table .tr .td, #medium{
	padding: 15px;
}