html{
	background-size: cover;
	background-repeat: repeat;
	background-color: transparent;
	background-image: url("https://i.gyazo.com/dd729dd36ff3d175ea587342be663794.jpg");
	background-attachment: scroll;
	min-width: 100%;
	left: 0px;
	width: 100%;
	background-position: 50% 0px;
}
.textbox { 
	background: rgba(25, 33, 197, 0.25) none repeat scroll 0% 0%;
	-moz-border-radius-topright: 30px; 
	-webkit-border-top-right-radius: 30px; 
	border-top-right-radius: 30px; 
	-moz-border-radius-bottomright: 30px; 
	-webkit-border-bottom-right-radius: 30px; 
	border-bottom-right-radius: 30px; 
	border: 1px solid rgba(11, 210, 210, 0.7); 
	outline:0; 
	height: 8%; 
	width: 100%;
	padding-right:10px; 
	margin-bottom: 3.3%;
	margin-top: 1.6%;
	padding: 1%;
	color: white;
}
.text-pro{
	color: rgba(0, 255, 255, 0.94);
	margin-bottom: 5.749%;
	padding: 2.99%;
}
.holotab {
	background: transparent url("https://i.gyazo.com/c6917ac6270cc3ff0865024713063056.png") repeat scroll 0% 0%;
	display: block;
	width: 282px;
	height: 51px;
	top: 0px;
	left: 0px;
	border: 0px none;
	color: #46A1DB;
	font-size: 26px;
}
input[type=checkbox] {
	visibility: hidden;
}
.roundedOne {
	width: 28px;
	height: 28px;
	background: #fcfff4;

	background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
	margin: 12px auto;

	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;

	-webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	position: relative;
}

.roundedOne label {
	cursor: pointer;
	position: absolute;
	width: 20px;
	height: 20px;

	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	left: 4px;
	top: 4px;

	-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
	-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);

	background: -webkit-linear-gradient(top, #222 0%, #45484d 100%);
	background: -moz-linear-gradient(top, #222 0%, #45484d 100%);
	background: -o-linear-gradient(top, #222 0%, #45484d 100%);
	background: -ms-linear-gradient(top, #222 0%, #45484d 100%);
	background: linear-gradient(top, #222 0%, #45484d 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222', endColorstr='#45484d',GradientType=0 );
}

.roundedOne label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	content: '';
	position: absolute;
	width: 16px;
	height: 16px;
	background: #00bf00;

	background: -webkit-linear-gradient(top, #00bf00 0%, #009400 100%);
	background: -moz-linear-gradient(top, #00bf00 0%, #009400 100%);
	background: -o-linear-gradient(top, #00bf00 0%, #009400 100%);
	background: -ms-linear-gradient(top, #00bf00 0%, #009400 100%);
	background: linear-gradient(top, #00bf00 0%, #009400 100%);

	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	top: 2px;
	left: 2px;

	-webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
}

.roundedOne label:hover::after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	opacity: 0.3;
}

.roundedOne input[type=checkbox]:checked + label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}
h2{
	display:inline;
	font-size: 40px;
	font-weight: bold;
	color: #07CBD6;
	padding-right: 2%;
	text-align: center;
}
tr .head{
	background: rgba(15, 8, 137, 0.63) none repeat scroll 0% 0%;
}
table{
	border-spacing: 5px;
	border-collapse: separate;
}