@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon/icomoon.eot?-rdnm34');
	src:url('../fonts/icomoon/icomoon.eot?#iefix-rdnm34') format('embedded-opentype'),
		url('../fonts/icomoon/icomoon.woff?-rdnm34') format('woff'),
		url('../fonts/icomoon/icomoon.ttf?-rdnm34') format('truetype'),
		url('../fonts/icomoon/icomoon.svg?-rdnm34#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

div.cs-skin-elastic {
	background: transparent;
	font-size: 1.5em;
	font-weight: 700;
	color: #fff;
	margin-bottom: 3.5%;
}

@media screen and (max-width: 30em) {
	div.cs-skin-elastic { font-size: 1em; }
}

.cs-skin-elastic > span {
	background-color: rgba(25, 33, 197, 0.25);
	border-top-right-radius: 30px; 
    border-bottom-right-radius: 30px; 
    border: 1px solid rgba(11, 210, 210, 0.7); 
	z-index: 100;
}

.cs-skin-elastic > span::after {
	font-family: 'icomoon';
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.cs-skin-elastic .cs-options {
	overflow: visible;
	background: transparent;
	opacity: 1;
	visibility: visible;
	padding-bottom: 1.25em;
	pointer-events: none;
}

.cs-skin-elastic.cs-active .cs-options {
	pointer-events: auto;
}

.cs-skin-elastic .cs-options > ul::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	-webkit-transform: scale3d(1,0,1);
	transform: scale3d(1,0,1);
	background: rgba(4, 78, 230, 0.28);
	-webkit-transform-origin: 50% 0%;
	transform-origin: 50% 0%;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
	 border-top-right-radius: 30px; 
    border-bottom-right-radius: 30px; 
    border: 1px solid rgba(11, 210, 210, 0.7); 
}

.cs-skin-elastic.cs-active .cs-options > ul::before {
	-webkit-transform: scale3d(1,1,1);
	transform: scale3d(1,1,1);
	-webkit-transition: none;
	transition: none;
	-webkit-animation: expand 0.6s ease-out;
  	animation: expand 0.6s ease-out;
}

.cs-skin-elastic .cs-options ul li {
	opacity: 0;
	-webkit-transform: translate3d(0,-25px,0);
	transform: translate3d(0,-25px,0);
	-webkit-transition: opacity 0.15s, -webkit-transform 0.15s;
	transition: opacity 0.15s, transform 0.15s;
}

.cs-skin-elastic.cs-active .cs-options ul li {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	opacity: 1;
	-webkit-transition: none;
	transition: none;
	-webkit-animation: bounce 0.6s ease-out;
  	animation: bounce 0.6s ease-out;
}

/* Optional delays (problematic in IE 11/Win) */
/*
.cs-skin-elastic.cs-active .cs-options ul li:first-child {
	-webkit-animation-delay: 0.1s;
	animation-delay: 0.1s;
}

.cs-skin-elastic.cs-active .cs-options ul li:nth-child(2) {
	-webkit-animation-delay: 0.15s;
	animation-delay: 0.15s;
}

.cs-skin-elastic.cs-active .cs-options ul li:nth-child(3) {
	-webkit-animation-delay: 0.2s;
	animation-delay: 0.2s;
}

.cs-skin-elastic.cs-active .cs-options ul li:nth-child(4) {
	-webkit-animation-delay: 0.25s;
	animation-delay: 0.25s;
} 

/* with more items, more delays declarations are needed */


.cs-skin-elastic .cs-options span {
	background-repeat: no-repeat;
	background-position: 1.5em 50%;
	background-size: 2em auto;
	padding: 0.8em 1em 0.8em 4em;
}

.cs-skin-elastic .cs-options span:hover,
.cs-skin-elastic .cs-options li.cs-focus span,
.cs-skin-elastic .cs-options .cs-selected span {
	color: #14fbf2;
}

.cs-skin-elastic .cs-options .cs-selected span::after {
}

.cs-skin-elastic .cs-options li.flag-chile span {
	background-image: url('https://i.gyazo.com/47c8c5707f14b0a56b28c1403ac611e2.png');
}

.cs-skin-elastic .cs-options li.flag-arg span {
	background-image: url('https://i.gyazo.com/8aef5bd3d44e089a3ac2b63f90727fa1.png');
}

.cs-skin-elastic .cs-options li.flag-boli span {
	background-image: url('https://i.gyazo.com/8bfe7cd467d471e179def5502838d1af.png');
}

.cs-skin-elastic .cs-options li.flag-colo span {
	background-image: url('https://i.gyazo.com/488369c6fedaa3c7e2ef9f5bc595e816.png');
}
.cs-skin-elastic .cs-options li.flag-mex span {
	background-image: url('https://i.gyazo.com/7ce34af7c547dbbccc8bf29dc8ff36d4.png');
}
.cs-skin-elastic .cs-options li.flag-ecu span {
	background-image: url('https://i.gyazo.com/64b108dc1a17ad910a844e6562042ac0.png');
}
.cs-skin-elastic .cs-options li.flag-uru span {
	background-image: url('https://i.gyazo.com/adef66fcf3d266bf1ca16af6e4b1caaf.png');
}
.cs-skin-elastic .cs-options li.flag-latam span {
	background-image: url('https://i.gyazo.com/dce3e16f3880586a23a20c870f2c13bd.png');
}
.cs-skin-elastic .cs-options li.flag-eu span {
	background-image: url('https://i.gyazo.com/13f52c18ec680bca8a2fd8529e8d2d6b.png');
}
.cs-skin-elastic .cs-options li.lang-es span {
	background-image: url('https://i.gyazo.com/908a129a2f845d558d7f48b13a43860f.png');
}
.cs-skin-elastic .cs-options li.lang-both span {
	background-image: url('https://i.gyazo.com/8d5e76c34efac2fcd2e305624507d9aa.jpg');
}


@-webkit-keyframes expand { 
	0% { -webkit-transform: scale3d(1,0,1); }
	25% { -webkit-transform: scale3d(1,1.2,1); }
	50% { -webkit-transform: scale3d(1,0.85,1); }
	75% { -webkit-transform: scale3d(1,1.05,1) }
	100% { -webkit-transform: scale3d(1,1,1); }
}

@keyframes expand { 
	0% { -webkit-transform: scale3d(1,0,1); transform: scale3d(1,0,1); }
	25% { -webkit-transform: scale3d(1,1.2,1); transform: scale3d(1,1.2,1); }
	50% { -webkit-transform: scale3d(1,0.85,1); transform: scale3d(1,0.85,1); }
	75% { -webkit-transform: scale3d(1,1.05,1); transform: scale3d(1,1.05,1); }
	100% { -webkit-transform: scale3d(1,1,1); transform: scale3d(1,1,1); }
}


@-webkit-keyframes bounce { 
	0% { -webkit-transform: translate3d(0,-25px,0); opacity:0; }
	25% { -webkit-transform: translate3d(0,10px,0); }
	50% { -webkit-transform: translate3d(0,-6px,0); }
	75% { -webkit-transform: translate3d(0,2px,0); }
	100% { -webkit-transform: translate3d(0,0,0); opacity: 1; }
}

@keyframes bounce { 
	0% { -webkit-transform: translate3d(0,-25px,0); transform: translate3d(0,-25px,0); opacity:0; }
	25% { -webkit-transform: translate3d(0,10px,0); transform: translate3d(0,10px,0); }
	50% { -webkit-transform: translate3d(0,-6px,0); transform: translate3d(0,-6px,0); }
	75% { -webkit-transform: translate3d(0,2px,0); transform: translate3d(0,2px,0); }
	100% { -webkit-transform: translate3d(0,0,0); transform: translate3d(0,0,0); opacity: 1; }
}
