@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon/icomoon.eot?-rdnm34');
	src:url('../fonts/icomoon/icomoon.eot?#iefix-rdnm34') format('embedded-opentype'),
	url('../fonts/icomoon/icomoon.woff?-rdnm34') format('woff'),
	url('../fonts/icomoon/icomoon.ttf?-rdnm34') format('truetype'),
	url('../fonts/icomoon/icomoon.svg?-rdnm34#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

div.cs-skin-boxes {
	background: transparent;
	font-size: 1.25em;
	font-weight: 700;
	max-width: 300px;
	z-index: 2000;
	color: #23e7d9;
}

@media screen and (max-width: 30em) {
	div.cs-skin-boxes { font-size: 1em; }
}

.cs-skin-boxes > span {
	background: rgba(25, 33, 197, 0.25) none repeat scroll 0% 0%;
	border-top-right-radius: 30px; 
    border-bottom-right-radius: 30px; 
	color: white;
	border: 1px solid rgba(11, 210, 210, 0.7);
	margin-bottom: 3%;
}
.cs-skin-boxes .cs-options {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	overflow: auto;
	background: rgba(8, 5, 107, 0.85);
	font-size: 75%;
	opacity: 0;
	-webkit-transition: opacity 0.3s, visibility 0s 0.3s;
	transition: opacity 0.3s, visibility 0s 0.3s;
}

.cs-skin-boxes.cs-active .cs-options {
	opacity: 1;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.cs-skin-boxes .cs-options ul {
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 10px;
}

.cs-skin-boxes .cs-options li {
	width: 20%;
	height: 25%;
	float: left;
	position: relative;
	cursor: pointer;
	border-radius: 16px;
	overflow: hidden;
	opacity: 0;
	border: 10px solid rgba(255, 255, 255, 0);
	background-clip: padding-box;
	-webkit-transform: scale3d(0.8,0.8,1);
	transform: scale3d(0.8,0.8,1);
	box-shadow: inset 0 -6em 0 -2em rgba(92, 234, 159, 0.21);
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
}

@media screen and (max-width: 30em) {
	.cs-skin-boxes .cs-options li { box-shadow: none; border-width: 3px; border-radius: 8px;}
}

/* IMG EJERCITO RANGOS */
.cs-skin-boxes.cs-active .cs-options li.img-miembro {
	background: rgb(14, 37, 104) url('https://embed.gyazo.com/9d2f3983490d06ac6769c1207c7e01f8.png') no-repeat;
	background-size: 60%;
	background-position: center;
	-webkit-transition-delay: 0.01s;
	transition-delay: 0.01s;
}
.cs-skin-boxes.cs-active .cs-options li.img-soldado {
	background: rgb(14, 37, 104) url('https://embed.gyazo.com/4d8f84003f146a7910e99e99f4125747.png') no-repeat;
	background-size: 60%;
	background-position: center;
	-webkit-transition-delay: 0.01s;
	transition-delay: 0.01s;
}
.cs-skin-boxes.cs-active .cs-options li.img-alferez {
	background: rgb(14, 37, 104) url('https://embed.gyazo.com/993e66d2fddac660a21181825373fbee.png') no-repeat;
	background-size: 60%;
	background-position: center;
	-webkit-transition-delay: 0.01s;
	transition-delay: 0.01s;
}
.cs-skin-boxes.cs-active .cs-options li.img-capitan {
	background: rgb(14, 37, 104) url('https://embed.gyazo.com/34e390be716ab59d8b299243bebba2aa.png') no-repeat;
	background-size: 60%;
	background-position: center;
	-webkit-transition-delay: 0.01s;
	transition-delay: 0.01s;
}
.cs-skin-boxes.cs-active .cs-options li.img-comandante {
	background: rgb(14, 37, 104) url('https://embed.gyazo.com/31a427e40c447b5800c83027350af739.png') no-repeat;
	background-size: 60%;
	background-position: center;
	-webkit-transition-delay: 0.01s;
	transition-delay: 0.01s;
}
.cs-skin-boxes.cs-active .cs-options li.img-general {
	background: rgb(14, 37, 104) url('https://embed.gyazo.com/37ad3f72bcb303c66b1dd6fe4f062696.png') no-repeat;
	background-size: 60%;
	background-position: center;
	-webkit-transition-delay: 0.01s;
	transition-delay: 0.01s;
}

/* IMG SECCIONES */
.cs-skin-boxes.cs-active .cs-options li.sec-escuderia {
	background: rgb(14, 37, 104) url('http://españa2942.es/wp-content/uploads/2016/03/Solo-Simbolo-Carreras.png') no-repeat;
	background-size: 60%;
	background-position: center;
	-webkit-transition-delay: 0.01s;
	transition-delay: 0.01s;
}
.cs-skin-boxes.cs-active .cs-options li.sec-choque {
	background: rgb(14, 37, 104) url('http://españa2942.es/wp-content/uploads/2016/03/Solo-simbolo-Choque.png') no-repeat;
	background-size: 60%;
	background-position: center;
	-webkit-transition-delay: 0.01s;
	transition-delay: 0.01s;
}
.cs-skin-boxes.cs-active .cs-options li.sec-mineria {
	background: rgb(14, 37, 104) url('http://españa2942.es/wp-content/uploads/2016/03/Solo-simbolo-Mineria.png') no-repeat;
	background-size: 60%;
	background-position: center;
	-webkit-transition-delay: 0.01s;
	transition-delay: 0.01s;
}
.cs-skin-boxes.cs-active .cs-options li.sec-embajada {
	background: rgb(14, 37, 104) url('http://españa2942.es/wp-content/uploads/2016/03/Solo-Simbolo-Embajada.png') no-repeat;
	background-size: 60%;
	background-position: center;
	-webkit-transition-delay: 0.01s;
	transition-delay: 0.01s;
}
.cs-skin-boxes.cs-active .cs-options li.sec-cazareco {
	background: rgb(14, 37, 104) url('http://españa2942.es/wp-content/uploads/2016/03/Solo-Simbolo-Cazarrecompensas.png') no-repeat;
	background-size: 60%;
	background-position: center;
	-webkit-transition-delay: 0.01s;
	transition-delay: 0.01s;
}
.cs-skin-boxes.cs-active .cs-options li.sec-ciencia {
	background: rgb(14, 37, 104) url('http://españa2942.es/wp-content/uploads/2016/03/Solo-simbolo-Ciencias.png') no-repeat;
	background-size: 60%;
	background-position: center;
	-webkit-transition-delay: 0.01s;
	transition-delay: 0.01s;
}
.cs-skin-boxes.cs-active .cs-options li.sec-transporte {
	background: rgb(14, 37, 104) url('http://españa2942.es/wp-content/uploads/2016/03/Solo-Simbolo-Transporte.png') no-repeat;
	background-size: 60%;
	background-position: center;
	-webkit-transition-delay: 0.01s;
	transition-delay: 0.01s;
}
.cs-skin-boxes.cs-active .cs-options li.sec-hospital {
	background: rgb(14, 37, 104) url('http://españa2942.es/wp-content/uploads/2016/03/Solo-Simbolo-Hospital.png') no-repeat;
	background-size: 60%;
	background-position: center;
	-webkit-transition-delay: 0.01s;
	transition-delay: 0.01s;
}
.cs-skin-boxes.cs-active .cs-options li.sec-seguridad {
	background: rgb(14, 37, 104) url('http://españa2942.es/wp-content/uploads/2016/03/Solo-simbolo-Seguridad.png') no-repeat;
	background-size: 60%;
	background-position: center;
	-webkit-transition-delay: 0.01s;
	transition-delay: 0.01s;
}
.cs-skin-boxes.cs-active .cs-options li.sec-mecanica {
	background: rgb(14, 37, 104) url('http://españa2942.es/wp-content/uploads/2016/03/Solo-Simbolo-Mecanicos.png') no-repeat;
	background-size: 60%;
	background-position: center;
	-webkit-transition-delay: 0.01s;
	transition-delay: 0.01s;
}
.cs-skin-boxes.cs-active .cs-options li.sec-ser {
	background: rgb(14, 37, 104) url('http://españa2942.es/wp-content/uploads/2016/01/solo-simbolo-SER-1.png') no-repeat;
	background-size: 60%;
	background-position: center;
	-webkit-transition-delay: 0.01s;
	transition-delay: 0.01s;
}
.cs-skin-boxes.cs-active .cs-options li.sec-ejercito {
	background: rgb(14, 37, 104) url('http://españa2942.es/wp-content/uploads/2016/03/Simbolo-Ejercito-0E.png') no-repeat;
	background-size: 60%;
	background-position: center;
	-webkit-transition-delay: 0.01s;
	transition-delay: 0.01s;
}
.cs-skin-boxes.cs-active .cs-options li.sec-cascoazul {
	background: rgb(14, 37, 104) url('http://españa2942.es/wp-content/uploads/2016/03/Cascos-Azules-0E.png') no-repeat;
	background-size: 60%;
	background-position: center;
	-webkit-transition-delay: 0.01s;
	transition-delay: 0.01s;
}

.cs-skin-boxes.cs-active .cs-options li {
	opacity: 1;
	-webkit-transform: scale3d(1,1,1);
	transform: scale3d(1,1,1);
}
.cs-skin-boxes.cs-active .cs-options li:nth-child(1) {
	-webkit-transition-delay: 0.01s;
	transition-delay: 0.01s;
}
.cs-skin-boxes.cs-active .cs-options li:nth-child(2) {

	background-position: center;
	-webkit-transition-delay: 0.01s;
	transition-delay: 0.01s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(3) {
	background-position: center;
	-webkit-transition-delay: 0.02s;
	transition-delay: 0.02s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(4) {
	background-position: center;
	-webkit-transition-delay: 0.03s;
	transition-delay: 0.03s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(5) {
	background-position: center;
	-webkit-transition-delay: 0.04s;
	transition-delay: 0.04s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(6) {
	background-position: center;
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(7) {
	-webkit-transition-delay: 0.06s;
	transition-delay: 0.06s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(8) {
	-webkit-transition-delay: 0.07s;
	transition-delay: 0.07s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(9) {
	-webkit-transition-delay: 0.08s;
	transition-delay: 0.08s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(10) {
	-webkit-transition-delay: 0.09s;
	transition-delay: 0.09s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(11) {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(12) {
	-webkit-transition-delay: 0.11s;
	transition-delay: 0.11s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(13) {
	-webkit-transition-delay: 0.12s;
	transition-delay: 0.12s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(14) {
	-webkit-transition-delay: 0.13s;
	transition-delay: 0.13s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(15) {
	-webkit-transition-delay: 0.14s;
	transition-delay: 0.14s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(16) {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(17) {
	-webkit-transition-delay: 0.16s;
	transition-delay: 0.16s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(18) {
	-webkit-transition-delay: 0.17s;
	transition-delay: 0.17s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(19) {
	-webkit-transition-delay: 0.18s;
	transition-delay: 0.18s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(20) {
	-webkit-transition-delay: 0.19s;
	transition-delay: 0.19s;
}
.cs-skin-boxes .cs-options li.cs-selected::after {
	color: #fff;
	position: absolute;
	font-size: 2em;
	top: 50%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-50%,0) translate3d(0,-1em,0);
	transform: translate3d(-50%,-50%,0) translate3d(0,-1em,0);
}

.cs-skin-boxes .cs-options li.cs-selected span::after {
	content: '';
}

@media screen and (max-width: 30em) {
	.cs-skin-boxes .cs-options li.cs-selected::after { 
		-webkit-transform: translate3d(-50%,-50%,0);
		transform: translate3d(-50%,-50%,0);
	}
}

.cs-skin-boxes .cs-options span {
	position: absolute;
	bottom: 0;
	width: 100%;
	line-height: 2em;
	text-transform: uppercase;
	letter-spacing: 1px;
}

@media screen and (max-width: 30em) {
	.cs-skin-boxes .cs-options span { display: none; }
}

.cs-skin-boxes .cs-options li span:hover,
.cs-skin-boxes li.cs-focus span,
.cs-skin-boxes li.cs-selected span {
	color: #00FFC9;
}
