*{
	font-family: Tahoma,Arial,Helvetica,sans-serif;
}
html{
	background: url('https://i.gyazo.com/984e4d582d3ba90184e66c37f407ff14.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-repeat: repeat;
	background-color: transparent;
}
.info {
border: 1px solid;
margin: 10px 0px;
padding:15px 10px 15px 50px;
background-repeat: no-repeat;
background-position: 10px center;
}
.info {
color: #32D0B1;
background-color: rgba(9, 70, 206, 0.3);  
}
.motd-position{
	padding-left: 10%;
	padding-right: 36%;
	margin-bottom: 5%;
}
.info_ico{
	width: 5%;
	height: 5%;
	padding-right: 2%;
}
#h3{
	display:inline;
	font-size: 25px;
	font-weight: bold;
	color: rgb(6, 255, 255);
	padding-right: 2%;
}
h2{
	display:inline;
	font-size: 40px;
	font-weight: bold;
	color: #07CBD6;
	padding-right: 2%;
}
small{
	font-size: 19px;
	color: #1D909E;
}
th{
	color: #07CBD6;
	font-weight: bold;
	font-size: 30px;
}
.tdP{
	font-size: 30px;
	color: #07CBD6;
}
.textbox { 
	font-size: 25px;
    background: #1A1A1A; 
    height:25px; 
    width: 275px; 
    border-radius: 2em; 
    border: none; 
    color: #A2A2A2; 
    padding-left: 1.5em; 
    outline: none; 
    box-shadow: 0 4px 6px -5px hsl(0, 0%, 40%), inset 0px 4px 6px -5px hsl(0, 0%, 2%) 
} 
.RightPanel{
	max-width: 31%;
	background: rgba(0,7,9,0.50);
	border: solid rgba(230, 69, 16, 0.69);
	border-width: 0 1px 1px;
	margin-left: 67%;
	margin-top: -28%;
}
#listing{
    padding-bottom: 5%;
}