/**{
	
}

/*.container{
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 1%;
	margin-top: 1%;
}
.well{
	background-color: rgba(34, 58, 82, 0.3);
	padding: 10%;
}
.row{
	margin-left: 1%;
	margin-right: 1%;
	margin-bottom: 1%;
	margin-top: 1%;
}*/
/*h2{
	font-family: "aSpace", Arial, Tahoma, sans-serif;
	color: #149aff;
}


*/
html{
	background-size: cover;
	background-repeat: repeat;
	background-color: transparent;
	background-image: url("http://españa2942.es/wp-content/uploads/2016/01/excalibur_by_hellsescapeartist-d4pzg97.jpg");
	background-attachment: scroll;
	min-width: 100%;
	left: 0px;
	width: 100%;
	background-position: 50% 0px;
}
.well{
	background-color: rgba(34, 58, 82, 0.4);
}
.title{
	color: #00e7ff;
	font-size: 34px;
}
input[type="password"], input[type="text"] {
	background: rgba(0, 0, 0, 0.4);
	background-color: rgba(0, 0, 0, 0.4);
	background-image: none;
	background-repeat: repeat;
	background-attachment: scroll;
	background-position: 0% 0%;
	background-clip: border-box;
	background-origin: padding-box;
	background-size: auto auto;
	border: 1px solid rgba(22, 42, 63, 0.8);
	border-image-source: none;
	border-image-slice: 100% 100% 100% 100%;
	border-image-width: 1 1 1 1;
	border-image-outset: 0 0 0 0;
	border-image-repeat: stretch stretch;
	font-family: sans-serif;
	font-size: 30px;
	color: #42C6E7;
	width: 85%;
	padding: 10px 15px;
	display: block;
	margin-bottom: 3px;
	box-sizing: border-box;
	transition: all 0.2s !important;
	transition-property: all;
	transition-duration: 0.2s;
	transition-timing-function: ease;
	transition-delay: 0s;
}
input[type="submit"]:hover{
    background: transparent url("https://i.gyazo.com/c6917ac6270cc3ff0865024713063056.png") repeat scroll 0% 0%;
	display: block;
	width: 282px;
	height: 51px;
	top: 0px;
	left: 0px;
	border: 0px none;
	color: #00E7FF;
}
input{
	outline: none;
}
.textAjust{
	font-size: 34px;
	font-weight: bold;
	color: #7696ae;
	padding-top: 2%;
}
.holotab {
	background: transparent url("https://i.gyazo.com/c6917ac6270cc3ff0865024713063056.png") repeat scroll 0% 0%;
	display: block;
	width: 282px;
	height: 51px;
	top: 0px;
	left: 0px;
	border: 0px none;
	color: #46A1DB;
	font-size: 34px;
}