html{
	background-size: cover;
	background-repeat: repeat;
	background-color: transparent;
	background-image: url("https://i.gyazo.com/5998cebf35f5472508c0d983ac6bb6f8.jpg");
	background-attachment: scroll;
	min-width: 100%;
	left: 0px;
	width: 100%;
	background-position: 50% 0px;
}
.textbox { 
	background: rgba(25, 33, 197, 0.25) none repeat scroll 0% 0%;
    -moz-border-radius-topright: 30px; 
    -webkit-border-top-right-radius: 30px; 
    border-top-right-radius: 30px; 
    -moz-border-radius-bottomright: 30px; 
    -webkit-border-bottom-right-radius: 30px; 
    border-bottom-right-radius: 30px; 
    border: 1px solid rgba(11, 210, 210, 0.7); 
    outline:0; 
    height:25px; 
    width: 145%;
    padding-right:10px; 
  }
.text-pro{
	color: rgba(0, 255, 255, 0.94);
	margin-bottom: 2.5%;
}