body{
	background: url('https://minegrech.com/v2/pages_site/page_userprofile/profile_themes/wd2/img/wd2-back.jpg') no-repeat center center fixed;
	background-size: cover;
	background-color: #121111E6;
	color: #2bb3fe;
}  
.background{

}
.well{
	background-image: url('https://i.gyazo.com/d5cc833f4bc12585ebaab36fe9d28c6d.jpg');
	background-size: 131%;
}
.hacked{
	font-family: 'hackedFont';
}

@font-face {
	font-family: 'hackedFont';
	src: url('https://minegrech.com/v2/pages_site/page_userprofile/profile_themes/wd2/font/HACKED.ttf') format('truetype');
}
a{
	color: #65ea14;
	text-decoration: none;
	background-color: #710d0d;
	border: 1px solid aqua;
	border-radius: 2px;
	padding: 1%;
	padding-left: 0.5em;
	padding-right: 0.5em;
}
a:hover{
	color: #21ff00;
}
.cgold{
	color: gold;
}
.tab-content{
	background-color: #c2383899;
	padding-left: 1em;
}
.well2{
	font-family: 'hackedFont';
}

#loader-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
	background: url('http://orig08.deviantart.net/9039/f/2016/164/b/c/dedsec_skull_noise_by_junguler-da6229q.gif') no-repeat center center fixed;
	background-size: cover;
}
#loader {
	display: block;
	position: relative;
	left: 50%;
	top: 50%;
	width: 150px;
	height: 150px;
	margin: -75px 0 0 -75px;
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color: #3498db;
	background: url('https://i.ytimg.com/vi/3dn8dlNbIiw/maxresdefault.jpg') no-repeat center center fixed;
	background-size: cover;

	-webkit-animation: spin 2s linear infinite; 
	animation: spin 2s linear infinite; 
	z-index: 1001;
}

#loader:before {
	content: "";
	position: absolute;
	top: 5px;
	left: 5px;
	right: 5px;
	bottom: 5px;
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color: #e74c3c;

	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
}

#loader:after {
	content: "";
	position: absolute;
	top: 15px;
	left: 15px;
	right: 15px;
	bottom: 15px;
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color: #f9c922;

	-webkit-animation: spin 7.5s linear infinite; 
	animation: spin 7.5s linear infinite; /
}

@-webkit-keyframes spin {
	0%   { 
		-webkit-transform: rotate(0deg);  
		-ms-transform: rotate(0deg);  
		transform: rotate(0deg);  
	}
	100% {
		-webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
		-ms-transform: rotate(360deg);  /* IE 9 */
		transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
	}
}
@keyframes spin {
	0%   { 
		-webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
		-ms-transform: rotate(0deg);  /* IE 9 */
		transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
	}
	100% {
		-webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
		-ms-transform: rotate(360deg);  /* IE 9 */
		transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
	}
}

#loader-wrapper .loader-section {
	position: fixed;
	top: 0;
	width: 51%;
	height: 100%;
	background: #222222;
	z-index: 1000;
	-webkit-transform: translateX(0); 
	-ms-transform: translateX(0); 
	transform: translateX(0);  
}

#loader-wrapper .loader-section.section-left {
	left: 0;
}

#loader-wrapper .loader-section.section-right {
	right: 0;
}

/* Loaded */
.loaded #loader-wrapper .loader-section.section-left {
	-webkit-transform: translateX(-100%);  
	-ms-transform: translateX(-100%); 
	transform: translateX(-100%);  

	-webkit-transition: all 0.7s 0.4s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
	transition: all 0.7s 0.4s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader-wrapper .loader-section.section-right {
	-webkit-transform: translateX(100%);
	-ms-transform: translateX(100%);  
	transform: translateX(100%); 

	-webkit-transition: all 0.7s 0.4s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
	transition: all 0.7s 0.4s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}
.loaded #loader {
	opacity: 0;
	-webkit-transition: all 0.3s ease-out;  
	transition: all 0.3s ease-out;
}
.loaded #loader-wrapper {
	visibility: hidden;

	-webkit-transform: translateY(-100%);  
	-ms-transform: translateY(-100%); 
	transform: translateY(-100%);  

	-webkit-transition: all 0.3s 2s ease-out;  
	transition: all 0.3s 2s ease-out;
}
.no-js #loader-wrapper {
	display: none;
}
.no-js h1 {
	color: #222222;
}

#content {
	padding-bottom: 50px;
}  