body{
	background-image: url('https://goodnights.cl/assets/desing/img/csgo2_back.jpg');
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
 	 background-size: cover;
 	 background-repeat: no-repeat;
 	 background-position: center;
}
@media only screen and (max-width: 320px) {

   body { font-size: 2em; }


}
.parte1{
	margin-bottom: 4.5em;
}


/* SERVIDORES */
.servidorcs16 >  .well{
	border: 1px solid white;
	border-radius: 15px;
	padding: 5em;
}
.servidorts >  .well{
	border: 1px solid white;
	border-radius: 15px;
	padding: 5em;
}
.servidorcsgo >  .well{
	border: 1px solid white;
	border-radius: 15px;
	padding: 5em;
}
/*
*
* SERVIDOR CS 1.6
*
*/
.servidorcs16 > .well{
	background-image: url('../img/cs16.jpg');
	background-position: top;
	background-size: cover;
	background-repeat: no-repeat;
	padding-bottom: 2.3em;
}
.servidorcs16 > .well > .imgStatus{
	margin-top: -3em;
	margin-left: -4em;
}
.servidorcs16 > .well > .imgStatus > .offline{
	border: 3px solid black;
	border-radius: 20em;
	width: 20%;
	position: absolute;
}
.servidorcs16 > .well > .imgStatus > .offlineTxt{
	position: absolute;
	margin-top: 2.5em;
	margin-left: 1em;
}
.servidorcs16 > .well > .imgStatus > .offlineTxt > span{
	color: black;
	font-family: Arial;
	font-weight: bold;
	letter-spacing: 3px;
	position: absolute;
}
/*
*
* SERVIDOR TS
*
*/
.servidorts > .well{
	background-image: url('../img/teamspeak.png');
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom: 2.3em;
}
.servidorts > .well > .imgStatus{
	margin-top: -3em;
	margin-left: -4em;
}
.servidorts > .well > .imgStatus > .offline{
	border: 3px solid black;
	border-radius: 20em;
	width: 20%;
	position: absolute;
}
.servidorts > .well > .imgStatus > .offlineTxt{
	position: absolute;
	margin-top: 2.5em;
	margin-left: 1em;
}
.servidorts > .well > .imgStatus > .offlineTxt > span{
	color: black;
	font-family: Arial;
	font-weight: bold;
	letter-spacing: 3px;
	position: relative;
}
/*
*
* SERVIDOR CS:GO
*
*/
.servidorcsgo > .well{
	background-image: url('../img/csgo.jpg');
	background-position: left;
	background-repeat: no-repeat;
	background-size:  cover;
	padding-bottom: 2.3em;
}
.servidorcsgo > .well > .imgStatus{
	margin-top: -3em;
	margin-left: -4em;
}
.servidorcsgo > .well > .imgStatus > .offline{
	border: 3px solid black;
	border-radius: 20em;
	width: 20%;
	position: absolute;
}
.servidorcsgo > .well > .imgStatus > .offlineTxt{
	margin-top: 2.5em;
	margin-left: 1em;
	position: absolute;
}
.servidorcsgo > .well > .imgStatus > .offlineTxt > span{
	color: black;
	font-family: Arial;
	font-weight: bold;
	letter-spacing: 3px;
}

/* SERVER INFO */
.opacity {
	background: rgb(204, 204, 204); /* Fallback for older browsers without RGBA-support */
    background: rgba(204, 204, 204, 0.5);
    padding: 10px;
}
.bordered{
	border: 0px solid black;
}
.info{
	margin-left: 4em;
	position: inherit;
	margin-right: -3em;
}
.infotext{
	font-weight: bold;
	color: white;
}
.hostname, .direccionip{
	margin-left: 2em;
}
code{
	font-weight: bold;
	font-size: 15px;
	background-color: rgba(249, 249, 249, 0.7);
	color: black;
}