textarea[name=mensaje] {
	resize: none;
	background: white none repeat scroll 0% 0%;
	padding: 1em;
	border: 1px solid black;
	border-radius: 1em;
	color: brown;
}
input[name=sujeto]{
	background: white none repeat scroll 0% 0%;
	padding-left: 1em;
	padding-right: 10px;
	border: 1px solid black;
	border-radius: 1em;
	color: brown;
}
select{
	background: rgb(251, 251, 251);
}
.wellcolor{
	background-color: RGBA(201, 193, 176, 0.31);
	border: 0px solid white;
	border-radius: 12px;
}
.enviar, .cancelar{
	display: inline;
}
.txtIndicaProblema, .inputTheme{
	display: block;

}
.botones{
	margin-top: 5em;
}
