.backwell{
	background-color: #0064F91A;
}
.centro-tabla{
	margin-left: 23%;
	margin-right: 23%;
}
.sec-1, .sec-2, .sec-3, .sec-4{
	background-color: #0072E299;
	margin-top: 1em;
	border: 5px solid #C7EAFC;
	border-radius: 20%;
	padding: 1%;
}
.sv-name-title{
	color: black;
	font-weight: bold;
	margin-top: 12%;
}
.user-avatar{
	display: flex;
	margin-left: 5%;
	position: absolute;
}
.img-responsive{
	
}
.border{
	border: 2.5px solid #0F62B8;
	border-radius: 2%;
}
.link-to-site{
	margin-top: 1%;
}
.link-to{
	color: black;
	font-style: oblique;
}
.link-to:hover{
	color: #16FF6E;
	text-decoration: none;
}
.link-to:active{
	color: #16FF6E;
	text-decoration: none;
}
.link-to:link{
	color: #16FF6E;
	text-decoration: none;
}
.link-to:visited{
	color: #16FF6E;
	text-decoration: none;
}

.sv-name{
	margin-left: -15%;
}
.text-input{
	font-weight: bold;
}
.change-lang{
	font-style: oblique;
	color: #B6CA8E;
}
.edit-txt{
	font-style: oblique;
	font-size: 12px;
	color: blue;
}
.icon{
	display: inline;
}